
body {
    background-image: url("assets/images/bckgrnd-img.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
   }

   @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.name {
    font-size: 50px;
    font-family: 'Abel', sans-serif;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color:  #B4D3D6;
    text-align: center;
}

.top-left {
    margin-top: 40px;
    margin-right: 50%;
    margin-bottom: none;
    float: left;
    font-family: 'Abel', sans-serif;
}

.intro {
    margin-top: 100px;
    float: left;
    font-family: 'Abel', sans-serif;
    margin-right: 30%;
}

.portfolio {
    text-align: center;
    margin-right: 50%;
} 

.name {
    font-size: 50px;
}

.appName {
    font-size: 30px;
}

.quiz {
    margin-right: 60px;
}